<h1>ADD RECIPE</h1>
<a href="#/profile">Back to profile</a>

<form ng-submit="addCtrl.addNew()">
	<label>Name:</label>
	<input type="text" ng-model="addCtrl.name">
	<label>Description:</label>
	<input type="text" ng-model="addCtrl.description">
	<label>Style:</label>
	<select ng-model="addCtrl.style" ng-options="style.shortName for style in addCtrl.styles">
	</select>
	<label>Target OG:</label>
	<input type="text" ng-model="addCtrl.targetOG">
	<label>Batch size:</label>
	<input type="text" ng-model="addCtrl.batchSize">
	<label>Mash temp:</label>
	<input type="text" ng-model="addCtrl.mashTemp">
	<label>Efficiency:</label>
	<input type="text" ng-model="addCtrl.mashEff">
	<button type="submit">Add</button>
	<button type="button" ng-click="addCtrl.cancel()">Cancel</button>
</form>
