<div class="main-content under-nav">

	<div class="brewsheet">
		<div>
			<h2 class="recipe-name">{{viewCtrl.recipe.name}}</h2>
			<h4>{{viewCtrl.recipe.description}}</h4>
				<div class="utility-group">
					<ul class="utility-info">
						<li class="bold">Style: <span class="normal">{{viewCtrl.recipe.style}}</span></li>
						<li class="bold">Target OG: <span class="normal">{{viewCtrl.recipe.targetOG}}</span></li>
						<li class="bold">Target FG: <span class="normal">{{viewCtrl.recipe.targetFG}}</span></li>
						<li class="bold">Approximate ABV: <span class="normal">{{viewCtrl.recipe.approxABV}}%</span></li>
					</ul>
					<ul class="utility-info">
						<li class="bold">IBU: <span class="normal">{{viewCtrl.recipe.totalIBU}}</span></li>
						<li class="bold">Mash Temp: <span class="normal">{{viewCtrl.recipe.mashTemp}}</span></li>
						<li class="bold">Mash Eff: <span class="normal">{{viewCtrl.recipe.mashEff}}</span></li>
						<li class="bold">Batch Size: <span class="normal">{{viewCtrl.recipe.batchSize}} gal.</span></li>
					</ul>
				</div>
		</div>

		<div>
			<h4 class="bold">Fermentables:</h4>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Grain</th>
						<th>Grain %</th>
						<th>Grain Weight (lbs)</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="ferm in viewCtrl.recipe.grainBill">
						<td>
							{{ferm.name}}
						</td>
						<td>
							{{ferm.percent}}
						</td>
						<td>
							{{ferm.grainInLbs}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div>
		<h4 class="bold">Hops:</h4>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Hop</th>
						<th>Oz.</th>
						<th>AA%</th>
						<th>Boil Time</th>
						<th>Contributed IBU</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="hop in viewCtrl.recipe.hops">
						<td>
							{{hop.name}}
						</td>
						<td>
							{{hop.oz}}
						</td>
						<td>
							{{hop.aa}}
						</td>
						<td>
							{{hop.boil}}
						</td>
						<td>
							{{hop.contributedIBU}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div>
			<h4 class="bold">Color:</h4>
			<p>SRM: {{viewCtrl.recipe.totalSRM}}</p>
			<div class="srm-box" style="background-color: {{viewCtrl.recipe.srmHex}}"></div>
		</div>

		<div>
			<h4 class="bold">Yeast:</h4>
			<p>{{viewCtrl.recipe.yeast.name}} <span ng-show="viewCtrl.recipe.yeast.supplier">({{viewCtrl.recipe.yeast.supplier}} {{viewCtrl.recipe.yeast.productId}})</span></p>
			<p>Starter? <strong>{{viewCtrl.recipe.yeast.starter}}</strong></p>
		</div>

		<div ng-show="viewCtrl.recipe.comments">
			<h4 class="bold">Comments:</h4>
			<p>{{viewCtrl.recipe.comments}}</p>
		</div>

		<div>
			<button class="btn btn-default button" type="button" ng-click="viewCtrl.editRecipe()">Edit</button>
			<button class="btn btn-default button" type="button" ng-click="viewCtrl.publishRecipe()">Tap!</button>
		</div>
	</div>

</div>