@import url(https://fonts.googleapis.com/css?family=Pacifico|PT+Sans+Narrow:400,700);

* {
	box-sizing: border-box;
}

body {
	background-color: #F0EDDF;
	background-image: url("backgrounds/concrete-wall.png");
	color: #414D5C;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 1.6em;
}

h1	{
	font-family: "Pacifico", cursive;
}

a {
	text-decoration: none;
	color: #414D5C;
}

a:visited {
	text-decoration: none;
	color: #414D5C;
}

a:hover {
	text-decoration: none;
	color: #FCFBEE;
}

.under-nav {
	margin: 120px auto;
}

.main-content {
	width: 80%;
}

.button {
	background-color: #414D5C;
	border-color: #414D5C;
	color: #F0EDDF;
}

.bold {
	font-weight: bold;
}

.normal {
	font-weight: normal;
}

/********************

LANDING STYLES

********************/

.landing-headline	{
	text-align: center;
	border-radius: 10px;
	background-color: rgba(252, 251, 238, .5);
	box-shadow: 0px 0px 5px 5px rgba(252, 251, 238, .5);
}

.landing-page {
	margin: 50px auto;
}

/********************

PROFILE/TAPROOM STYLES

********************/

.flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.recipe-card {
	position: relative;
	border: 1px solid grey;
	width: 190px;
	height: 190px;
	margin: 15px 0;
	background-color: rgba(252, 251, 239, .7);
	border-radius: 5px;
	box-shadow: -5px 5px 5px #CFCFC7;
}

.card-headline {
	font-size: 1.5em;
	width: 100%;
	background-color: rgba(191, 190, 180, .7);
	text-align: center;
	border-bottom: 1px solid slategrey;
	margin-top: 0;
	padding: 10px 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.card-description {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

.card-buttons {
	position: absolute;
	bottom: 5px;
	width: 100%;
	text-align: center;
}

.add-recipe {
	text-align: center;
	margin: 20px 0;
}

.add-recipe-button {
	padding: 10px 100px;
}

.search,
.order {
	text-align: center;
}

.search-box {
	border-radius: 3px;
	border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

.search-box:focus {
	outline: none;
	border: solid 1px #707070;
	box-shadow: 0 0 5px 1px #969696;
}

/********************

VIEW/TAPVIEW STYLES

********************/

.recipe-name {
	font-weight: bold;
}

.srm-box {
	width: 70px;
	height: 70px;
	border-radius: 5px;
}

.brewsheet {
	background-color: rgba(252, 251, 239, .7);
	padding: 5px 15px;
	margin-bottom: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 5px rgba(252, 251, 239, .7);
}

.comment-container {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 10px;
}

.comment-headline {
	margin: 5px 0 5px 10px;
}

.comment-user {
	margin: 0 0 5px 10px;
	font-size: .7em;
}

.comment-modal {
	z-index: 10000;
}

.utility-group {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.utility-info {
	list-style: none;
	width: 50%;
}

.center {
	text-align: center;
}

/********************

NAV STYLES

********************/

.nav-bar {
	position: fixed;
	z-index: 9999;
	display: flex;
	flex-flow: row wrap;
	top: 0;
	left: 0;
	border-bottom: 1px solid slategrey;
	width: 100%;
	justify-content: space-between;
	background-color: rgba(191, 190, 180, .7);
}

.headlines {
	width: 35%;
}

.headlines a:hover {
	text-decoration: none;
}

.headlines a:visited {
	text-decoration: none;
	color: #414D5C;
}

.nav-tagline {
	margin-left: 25px;
}

.nav-headline {
	margin-left: 15px;
}

.nav-list {
	display: flex;
	flex-flow: row wrap;
	width: 50%;
	list-style: none;
	justify-content: flex-end;
	align-items: flex-end;
}

.nav-list li {
	margin-right: 20px;
}

/********************

MEDIA QUERIES

********************/

@media screen and (max-width: 848px) {
	.nav-headline {
		font-size: 30px;
		margin-left: 20px;
	}
}

@media screen and (max-width: 793px) {
	.nav-list {
		padding-left: 0;
	}
}

@media screen and (max-width: 728px) {
	.nav-bar {
		flex-flow: column nowrap;
	}
	.headlines {
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
	}
	.nav-headline {
		font-size: 36px;
	}
	.nav-list {
		width: 100%;
		justify-content: space-around;
		margin-bottom: 2px;
	}
	.main-content {
		width: 90%;
	}
	.under-nav {
		margin: 150px auto;
	}
}

@media screen and (max-width: 650px) {
	.flex {
		flex-flow: column nowrap;
	}
	.recipe-card {
		width: 100%;
	}
	.nav-bar {
		position: static;
	}
	.under-nav {
		margin: 20px auto;
	}
}

@media screen and (max-width: 415px) {
	.signed-in {
		display: none;
	}
	.nav-list {
		flex-flow: column nowrap;
		align-items: stretch;
		text-align: center;
	}
	.nav-list li {
		margin: 10px 0;
	}
	.nav-list li a {
		border: 1px solid #414D5C;
		background-color: #414D5C;
		color: #F0EDDF;
		padding: 3px 15px;
		border-radius: 5px;
	}
	.nav-list li a:active {
		color: #333;
		background-color: #e6e6e6;
		border-color: #adadad;
	}
	.nav-tagline {
		margin-bottom: 0;
	}
}