<div class="main-content under-nav">

	<div class="brewsheet">
		<div>
			<h2>{{tapViewCtrl.recipe.name}}</h2>
			<h5>{{tapViewCtrl.recipe.description}}</h5>
			<p>Style: <span class="style">{{tapViewCtrl.recipe.style}}</span></p>
			<ul>
				<li>Target OG: {{tapViewCtrl.recipe.targetOG}}</li>
				<li>Target FG: {{tapViewCtrl.recipe.targetFG}}</li>
				<li>Approximate ABV: {{tapViewCtrl.recipe.approxABV}}%</li>
				<li>IBU: {{tapViewCtrl.recipe.totalIBU}}</li>
				<li>Mash Temp: {{tapViewCtrl.recipe.mashTemp}}</li>
				<li>Mash Eff: {{tapViewCtrl.recipe.mashEff}}</li>
				<li>Batch Size: {{tapViewCtrl.recipe.batchSize}} gal.</li>
			</ul>
		</div>

		<div>
			<h4>Fermentables:</h4>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Grain</th>
						<th>Grain %</th>
						<th>Grain Weight (lbs)</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="ferm in tapViewCtrl.recipe.grainBill">
						<td>
							{{ferm.name}}
						</td>
						<td>
							{{ferm.percent}}
						</td>
						<td>
							{{ferm.grainInLbs}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div>
		<h4>Hops:</h4>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Hop</th>
						<th>Oz.</th>
						<th>AA%</th>
						<th>Boil Time</th>
						<th>Contributed IBU</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="hop in tapViewCtrl.recipe.hops">
						<td>
							{{hop.name}}
						</td>
						<td>
							{{hop.oz}}
						</td>
						<td>
							{{hop.aa}}
						</td>
						<td>
							{{hop.boil}}
						</td>
						<td>
							{{hop.contributedIBU}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div>
			<h4>Color:</h4>
			<p>SRM: {{tapViewCtrl.recipe.totalSRM}}</p>
			<div class="srm-box" style="background-color: {{tapViewCtrl.recipe.srmHex}}"></div>
		</div>

		<div>
			<h4>Yeast:</h4>
			<p>{{tapViewCtrl.recipe.yeast.name}} ({{tapViewCtrl.recipe.yeast.supplier}} {{tapViewCtrl.recipe.yeast.productId}})</p>
			<p>Starter? <strong>{{tapViewCtrl.recipe.yeast.starter}}</strong></p>
		</div>

		<div ng-show="tapViewCtrl.recipe.comments">
			<h4>Comments:</h4>
			<p>{{tapViewCtrl.recipe.comments}}</p>
		</div>

		<div>
			<button class="btn btn-default button" type="button" ng-click="tapViewCtrl.commentRecipe()">Comment</button>
		</div>
	</div>

</div>