<div class="modal fade comment-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Leave A Comment</h4>
      </div>
      <div class="modal-body">
        <form>
        	<div>
        		<div class="form-group">
        			<label for="email">Comment:</label>
        			<input class="form-control" type="text" name="comment" ng-model="userComment" placeholder="Tastes great!">
        		</div>
        	</div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default button" type="button" ng-click="tapViewCtrl.comment(userComment)" data-dismiss="modal">Comment</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="main-content under-nav">

	<div class="brewsheet">
		<div>
			<h2 class="recipe-name">{{tapViewCtrl.recipe.name}}</h2>
			<h4>{{tapViewCtrl.recipe.description}}</h4>
			<h5 class="bold">Submitted by: <span class="normal">{{tapViewCtrl.recipe.brewer}}</span></h5>
			<div class="utility-group">
				<ul class="utility-info">
					<li class="bold">Style: <span class="normal">{{tapViewCtrl.recipe.style}}</span></li>
					<li class="bold">Target OG: <span class="normal">{{tapViewCtrl.recipe.targetOG}}</span></li>
					<li class="bold">Target FG: <span class="normal">{{tapViewCtrl.recipe.targetFG}}</span></li>
					<li class="bold">Approximate ABV: <span class="normal">{{tapViewCtrl.recipe.approxABV}}%</span></li>
				</ul>
				<ul class="utility-info">
					<li class="bold">IBU: <span class="normal">{{tapViewCtrl.recipe.totalIBU}}</span></li>
					<li class="bold">Mash Temp: <span class="normal">{{tapViewCtrl.recipe.mashTemp}}</span></li>
					<li class="bold">Mash Eff: <span class="normal">{{tapViewCtrl.recipe.mashEff}}</span></li>
					<li class="bold">Batch Size: <span class="normal">{{tapViewCtrl.recipe.batchSize}} gal.</span></li>
				</ul>
			</div>
		</div>

		<div>
			<h4 class="bold">Fermentables:</h4>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Grain</th>
						<th>Grain %</th>
						<th>Grain Weight (lbs)</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="ferm in tapViewCtrl.recipe.grainBill">
						<td>
							{{ferm.name}}
						</td>
						<td>
							{{ferm.percent}}
						</td>
						<td>
							{{ferm.grainInLbs}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div>
		<h4 class="bold">Hops:</h4>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Hop</th>
						<th>Oz.</th>
						<th>AA%</th>
						<th>Boil Time</th>
						<th>Contributed IBU</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="hop in tapViewCtrl.recipe.hops">
						<td>
							{{hop.name}}
						</td>
						<td>
							{{hop.oz}}
						</td>
						<td>
							{{hop.aa}}
						</td>
						<td>
							{{hop.boil}}
						</td>
						<td>
							{{hop.contributedIBU}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div>
			<h4 class="bold">Color:</h4>
			<p>SRM: {{tapViewCtrl.recipe.totalSRM}}</p>
			<div class="srm-box" style="background-color: {{tapViewCtrl.recipe.srmHex}}"></div>
		</div>

		<div>
			<h4 class="bold">Yeast:</h4>
			<p>{{tapViewCtrl.recipe.yeast.name}} <span ng-show="tapViewCtrl.recipe.yeast.supplier">({{tapViewCtrl.recipe.yeast.supplier}} {{tapViewCtrl.recipe.yeast.productId}})</span></p>
			<p>Starter? <strong>{{tapViewCtrl.recipe.yeast.starter}}</strong></p>
		</div>

		<div ng-show="tapViewCtrl.recipe.comments">
			<h4 class="bold">Brewers Comments:</h4>
			<p>{{tapViewCtrl.recipe.comments}}</p>
			<h4 class="bold">Community Comments:</h4>
		</div>
			<div
				ng-if="tapViewCtrl.recipe.commComments"
				class="comment-container"
				ng-repeat="comment in tapViewCtrl.recipe.commComments">
				<p class="comment-headline">{{comment.comment}}</p>
				<p class="comment-user">From: {{comment.user}} {{comment.date}}</p>
			</div>

		<div>
			<button class="btn btn-default button" type="button" data-toggle="modal" data-target=".modal">Comment</button>
			<button class="btn btn-default button" type="button" ng-click="tapViewCtrl.forkRecipe(tapViewCtrl.recipe)">Fork</button>
		</div>
	</div>

</div>