<h1>ADD RECIPE</h1>
<button type="click" ng-click="addCtrl.backToProfile()">Back to profile</button>

<form ng-submit="addCtrl.addNew()">
	<div>
		<label>Name:</label>
		<input type="text" ng-model="addCtrl.name">
		<label>Description:</label>
		<input type="text" ng-model="addCtrl.description">
		<label>Style:</label>
		<select ng-model="addCtrl.style" ng-options="style.shortName for style in addCtrl.stylesArray | orderBy: 'name'">
		</select>
		<label>Target OG:</label>
		<input type="text" ng-model="addCtrl.targetOG">
		<label>Batch size:</label>
		<input type="text" ng-model="addCtrl.batchSize">
		<label>Mash temp:</label>
		<input type="text" ng-model="addCtrl.mashTemp">
		<label>Efficiency:</label>
		<input type="text" ng-model="addCtrl.mashEff">
	</div>
	<div>
		<label>Fermentables:</label>
		<select ng-model="addCtrl.fermentable" ng-options="ferm.name for ferm in addCtrl.fermentablesArray.data">
		</select>
		<label>%:</label>
		<input type="text" ng-model="addCtrl.fermPercent">
	</div>
	<div>
		<label>Hops:</label>
		<select ng-model="addCtrl.hops" ng-options="hop.name for hop in addCtrl.hopsArray.data">
		</select>
		<label>AA%:</label>
		<input type="text" ng-model="addCtrl.aa">
		<label>Boil time:</label>
		<input type="text" ng-model="addCtrl.boil">
	</div>
	<div>
		<label>Yeast:</label>
		<select ng-model="addCtrl.yeast" ng-options="yeast.name for yeast in addCtrl.yeastArray">
		</select>
		<input type="checkbox" ng-model="addCtrl.yeastStarter">Starter?
	</div>
	<div>
		<button type="submit">Add</button>
		<button type="button" ng-click="addCtrl.cancel()">Cancel</button>
	</div>
</form>
