<h1>VIEW</h1>
<button type="click" ng-click="viewCtrl.backToProfile()">Back to profile</button>

<div class="main-content">
	<div>
		<h2>{{viewCtrl.recipe.name}}</h2>
		<h5>{{viewCtrl.recipe.description}}</h5>
		<p>Style: <span class="style">{{viewCtrl.recipe.style}}</span></p>
		<ul>
			<li>Target OG: {{viewCtrl.recipe.targetOG}}</li>
			<li>IBU: {{viewCtrl.recipe.totalIBU}}</li>
			<li>Mash Temp: {{viewCtrl.recipe.mashTemp}}</li>
			<li>Mash Eff: {{viewCtrl.recipe.mashEff}}</li>
			<li>Batch Size: {{viewCtrl.recipe.batchSize}}</li>
		</ul>
	</div>


		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Fermentables</th>
					<th>Grain %</th>
					<th>Grain Weight (lbs)</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="ferm in viewCtrl.recipe.grainBill">
					<td>
						{{ferm.name}}
					</td>
					<td>
						{{ferm.percent}}
					</td>
					<td>
						{{ferm.grainInLbs}}
					</td>
				</tr>
			</tbody>
		</table>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Hops</th>
					<th>Oz.</th>
					<th>AA%</th>
					<th>Boil Time</th>
					<th>Contributed IBU</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="hop in viewCtrl.recipe.hops">
					<td>
						{{hop.name}}
					</td>
					<td>
						{{hop.oz}}
					</td>
					<td>
						{{hop.aa}}
					</td>
					<td>
						{{hop.boil}}
					</td>
					<td>
						{{hop.contributedIBU}}
					</td>
				</tr>
			</tbody>
		</table>


		<h4>Yeast:</h4>
		<p>{{viewCtrl.recipe.yeast.name}} ({{viewCtrl.recipe.yeast.supplier}} {{viewCtrl.recipe.yeast.productId}})</p>
		<p>Starter? <strong>{{viewCtrl.recipe.yeast.starter}}</strong></p>
	</div>
	<div>
		<button type="click" ng-click="viewCtrl.editRecipe()">Edit</button>
	</div>
</div>