<div class="nav-bar">
	<div class="headlines">
		<a href="" ng-click="navCtrl.ToProfile()">
			<h1 class="nav-headline">Homebrew Buddy!</h1>
			<h4 class="nav-tagline">Your own personal brewing secretary.</h4>
		</a>
	</div>

	<ul class="nav-list">
		<li>Signed in as: {{navCtrl.currentUser}}</li>
		<li><a href="" ng-click="navCtrl.backToProfile()">Profile</a></li>
		<li><a href="" ng-click="navCtrl.taproom()">Taproom</a></li>
		<li><a href="" ng-click="navCtrl.logout()">Logout</a></li>
	</ul>
</div>